@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
}
/* Navbar.css (create a separate CSS file) */

/* Navbar.css */

nav {
    background-color: #333; /* Background color for the navigation bar */
    color: #fff; /* Text color for links and buttons */
    padding: 10px 20px; /* Padding for the navigation bar */
  }
  
  .navbar-nav {
    list-style: none; /* Remove list bullets */
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Align items horizontally */
    gap: 20px;
  }
  
  .nav-item a {
    text-decoration: none; /* Remove underlines from links */
    color: #fff; /* Text color for links */
  }
  .btn a{
    padding: 10px;
    background-color: #007BFF;
  }
  .btn a:hover{
    background-color: #0056b3;
  }
  button {
    background-color: #007BFF; /* Button background color */
    color: #fff; /* Text color for buttons */
    border: none; /* Remove button borders */
    padding: 5px 10px; /* Padding for buttons */
    cursor: pointer; /* Add cursor pointer on hover */
  }
  
  button:hover {
    background-color: #0056b3; /* Button background color on hover */
  }
  